.draggable {
  background: #fff;
  position: absolute;
  z-index: 9;
  text-align: center;
}

hr {
  margin: 0.5rem;
}

.tooltip {
  padding: 1rem;
  width: max-content;
  visibility: hidden;
  position: absolute;
  background: #fff;
  z-index: 11;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

.tooltip-container:hover > .tooltip {
  visibility: visible;
}

.tooltip > table {
  border-collapse: collapse;
}

.tooltip > table td {
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.draggable > .handle {
  cursor: move;
  z-index: 10;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 120px;
  border-right: 2px solid #ccc;
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

canvas {
  width: calc(100vw - 120px);
  height: 100vh;
  position: absolute;
}

.divider {
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.line {
  height: 1px;
  width: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background: #ccc;
}

.button {
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 0px 5px 5px #30d3ff;
  background: #30d3ff;
}
.button.active {
  box-shadow: 0px 0px 5px 5px #10a5f0;
  background: #10a5f0;
}

.packet {
  position: absolute;
  background: #fff;
}
